body {
    background-color: beige;
}

h1 {
    color: brown;
}

h2 {
    color: blue;
    font-family: serif;
    font: bolder;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
}